# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# Android
android/.gradle/
android/local.properties
android/*.iml
android/.idea/

# iOS
ios/Pods/
ios/.symlinks/

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store
